<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <title>首页-alipay-node</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <style>
        div {
            text-align: center;
        }
        h1 {
            margin: 50px 0 20px;
        }
    </style>
</head>
<body>
    <div>
        <h1>请查看 README.md 文档 - $!{title}</h1>
        <a href="http://hangyangws.win/">$!{name}</a>
    </div>
</body>

</html>
